<main>
  <div class="title" routerLink="home">BestBowling</div>
  <div *ngIf="isLoggedIn">
    <button class="burger-menu" (click)="toggleMenu()">☰</button>
    <div class="content" [class.open]="menuOpen">
      <a routerLink="about">Rólunk</a>
      <a routerLink="login" (click)="logout()">Kijelentkezés</a>
    </div>
  </div>
  <div *ngIf="!isLoggedIn">
    <button class="burger-menu" (click)="toggleMenu()">☰</button>
    <div class="content" [class.open]="menuOpen">
      <a routerLink="register">Regisztráció</a>
      <a routerLink="login">Bejelentkezés</a>
    </div>
  </div>
</main>
